<!DOCTYPE html>
<html lang="ko-KR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/community/gs_faq.css">
</head>

<body>
  <div class="wrap">
    <!-- <header>
          <div class="header_gnb">
            <a href="/">
              <img class="header_mainlogo" src="./images/header/main logo.PNG" alt="gslogo">
            </a>
    
            <ul class="header_menu">
              <li class="header_menu_item">
                <a href="#!" class="header_menu_link">EV 충전소 찾기</a>
              </li>
              <li class="header_menu_item">
                <a href="#!" class="header_menu_link">충전정보</a>
              </li>
              <li class="header_menu_item">
                <a href="#!" class="header_menu_link">커뮤니티</a>
              </li>
            </ul>
    
            <button class="header_menu_button">
              <div class="header_menu_line"></div>
              <div class="header_menu_line"></div>
              <div class="header_menu_line"></div>
            </button>
          </div>
          <div class="header_nav">
            <ul class="header_nav_list">
              <li class="header_nav_item">EV 충전소 찾기</li>
            </ul>
    
    
            <ul class="header_nav_list">
              <li class="header_nav_item"><a href="">충전요금/충전기</a></li>
              <li class="header_nav_item">사용방법</li>
            </ul>
    
            <ul class="header_nav_list">
              <li class="header_nav_item">이벤트</li>
              <li class="header_nav_item">공지사항</li>
              <li class="header_nav_item">FAQ</li>
            </ul>
          </div>
        </header> -->
    <main class="page_sub_main">
      <div class="route">
        <span class="route1">Home</span>
        <span class="route2">커뮤니티</span>
        <span class="route3">공지사항</span>
      </div>

      <div class="headline">
        <div class="l-wrapper">
          <h1 class="head_title">
            FAQ
          </h1>

          <div class="head_explain">
            고객 여러분의 편리한 이용을 위한 다양한 서비스를 제공합니다.
          </div>

        </div>

      </div>

      <!-- faq list -->
      <ul class="gs_faq_list">

        <li class="gs_faq_item active">
          전체
        </li>
        <li class="gs_faq_item">
          충전 Site
        </li>
        <li class="gs_faq_item">
          결제/가격
        </li>
        <li class="gs_faq_item">
          충전 운영
        </li>
        <li class="gs_faq_item">
          기타
        </li>
      </ul>

      <div class="gs_faq_search">
        <div class="gs_faq_search_place">
          <input type="text" class="gs_faq_search_text" placeholder="검색어를 입력해주세요">
          <button><img class="gs_faq_search_function" src="/images/gs_community/ico_search.png" alt=""></button>
        </div>
      </div>
      <!-- faq table -->
      <div class="l-wrapper l-small">
        <div class="gs_faq_table">
          <div class="gs_faq_box">

            <div class="gs_faq_question">
              <em>Q</em>충전 후 세차 / 세차 후 충전해도 안전한가요?
            </div>

            <div class="gs_faq_asked">
              <em>A</em>네 문제 없습니다.기본적으로 자동차 제작업체애서는 침수 테스트를 진행하고 있고,
              비가 오는 날도 문제 없이 운행이 가능하기 때문에 세차도 문제없이 할 수 있습니다.
            </div>
          </div>

          <div class="gs_faq_box">
            <div class="gs_faq_question">
              <em>Q</em>눈/비오는 날도 충전 가능한가요?
            </div>
            <div class="gs_faq_asked">
              <em>A</em>기본적으로 눈이나 비가 올 때도 충전은 가능합니다. 다만, 눈/비가 많이 오거나 내린 직후 커넥터에 물이 고여 있는 경우라면 사용하지 않는 것을 권고 드리며, 폭우가
              내리거나
              천둥/번개가 심할 때에도 사용하지 않는 것이 좋습니다.
            </div>
          </div>

          <div class="gs_faq_box">
            <div class="gs_faq_question">
              <em>Q</em>다른 차량이 충전중이던걸 제가 결제해버렸어요.어떻게 해야 할까요?
            </div>
            <div class="gs_faq_asked">
              <em>A</em>불편하시겠지만 고객센터에 연락하셔서 처리를 받으셔야 합니다. 해당 고객께는 별도로 연락을 부탁 드리겠습니다.
            </div>
          </div>

          <div class="gs_faq_box">
            <div class="gs_faq_question">
              <em>Q</em>다른 차량이 충전 중이었는데 모르고 충전을 중지시켜버렸어요.
            </div>
            <div class="gs_faq_asked">
              <em>A</em>현재 구조상 충전 고객의 정보를 파악할 수는 없습니다. 불편하시더라고 충전 중이시던 고객의 전화번호를 확인하시어 전화 부탁 드리겠습니다.
            </div>
          </div>

          <div class="gs_faq_box">
            <div class="gs_faq_question">
              <em>Q</em>GS&POINT 적립은 안되나요?
            </div>
            <div class="gs_faq_asked">
              <em>A</em>네 현재는 적립되지 않습니다. 향후 EV충전도 GS&POINT 적립이 가능하도록 할 예정이오니 참고하시기 바랍니다.
            </div>
          </div>

          <div class="gs_faq_box">
            <div class="gs_faq_question">
              <em>Q</em>충전기가 작동하지 않아요
            </div>
            <div class="gs_faq_asked">
              <em>A</em>죄송합니다. 저희 고객 센터로 연락주시면 빠르게 조치해 드리겠습니다. 조치 완료 시까지는 주변 충전소 이용 부탁드립니다.
            </div>
          </div>

          <div class="gs_faq_box">
            <div class="gs_faq_question">
              <em>Q</em>커넥터 도어가 열리지 않습니다.
            </div>
            <div class="gs_faq_asked">
              <em>A</em>화면상 충전중지를 누르시고, 다시 결제해주시면 됩니다. 기존에 승인된 결제는 자동으로 취소가 되며, 카드사 및 통신사 사정상 시간이 조금 소요될 수 있습니다.
            </div>
          </div>

          <div class="gs_faq_box">
            <div class="gs_faq_question">
              <em>Q</em>비상버튼이 눌려서 해제가 되지 않아요.
            </div>
            <div class="gs_faq_asked">
              <em>A</em>비상버튼을 오른쪽으로 돌리시면 해제가 됩니다. (버튼이 앞 쪽으로 빠짐)
            </div>
          </div>

          <div class="gs_faq_box">
            <div class="gs_faq_question">
              <em>Q</em>충전기 선이 벗겨졌어요
            </div>
            <div class="gs_faq_asked">
              <em>A</em>충전 전에 확인이 되시면 사용을 삼가주시고, 이용 중에 발견되시면 즉시 비상정지 버튼을 눌러 사용을 정지해주세요. 이 후 가능하시면 고객센터에 연락 부탁 드립니다.
            </div>
          </div>

          <div class="gs_faq_box">
            <div class="gs_faq_question">
              <em>Q</em>충전기에서 타는 냄새가 나요
            </div>
            <div class="gs_faq_asked">
              <em>A</em>확인 된 즉시 비상정지 버튼을 눌러 사용을 중지하시고 고객센터에 연락 부탁 드립니다.
            </div>

          </div>
        </div>
        <div class="gs_faq_underline">
          <div class="gs_faq_underline_pagenumber">
          </div>

        </div>
        <div class="gs_faq_underline_customerservice">
          고객센터 문의하기
        </div>



      </div>
    </main>
  </div>
</body>

</html>