


.gs_faq_list{
    display:flex;
    justify-content: center;
    border-bottom:1px solid #dadada;

}
.gs_faq_item{
    width:200px;
    font-size:18px;
    font-weight:500;
    color:#666;
    padding:0 0 20px;
    cursor:pointer;
    position:relative;
    text-align:center;
    
}
.gs_faq_item::before{
    content:"";
    display:block;
    position: absolute;
    top:5px;
    right:0;
    width:1px;
    height:17px;
    background-color:#dadada;
    
}
.gs_faq_item:last-child::before{
    display:none;
}

.gs_faq_item.active::after{
    content:"";
    display:block;
    position:absolute;
    bottom:-1px;
    left:0;
    width: 100%;
    height:2px;
    background-color:#009999;
}


.gs_faq_item.active,
.gs_faq_item:hover{
    color:#009999;
    border-color:#009999;
}

.gs_faq_search{
    
    display:inline-block;
    display:flex;
    justify-content:center;
    padding:60px 0 80px;
    

}
.gs_faq_search_place{
    width:100%;
    max-width:750px;
    border:2px solid #d9d9d9;
    padding:20px 42px;
    border-radius:30px;
    display:flex;
    justify-content:space-between;

}
.gs_faq_search_place::before{
    display:none;
    content:"";
}
.gs_faq_search_place.active,
.gs_faq_search_place{
    

}

.gs_faq_search_text{
   font-size:18px; 
   width:630px;
   
}

.gs_faq_search_text:focus{
    outline:none;
}
.gs_faq_search_function{
    cursor:pointer;
}
 

.gs_faq_table{
    display:flex;
    flex-direction: column;

}

.gs_faq_question{
    font-size:18px;
    color:#000;
    font-weight:500;
    border-top:1px solid #666;
    padding:25px 100px 25px 40px; 
}

.gs_faq_question > em{
    color:#099;
    font-size:20px;
    padding-right:9px;
}
.gs_faq_asked{
    color:#666;
    font-size:18px;
    padding:25px 100px 25px 40px;
}
.gs_faq_asked > em{
    color:#099;
    font-size:22px;
    padding-right:9px;
}
.gs_faq_underline{
    display:flex;
}
.gs_faq_underline_customerservice{
    font-weight:500;
    color:#fff;
    background-color:#777;
    padding:8px;
    border-radius:30px;
    cursor: pointer;
    margin-left:1061px;
    display:inline-block;
}
.gs_faq_underline_customerservice:hover{
    background-color:#01a090;
    transition:all 0.5s;
}